@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gloria+Hallelujah&family=Gruppo&family=Homemade+Apple&family=Raleway:wght@100&family=Russo+One&display=swap');


.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0 0  20px 20px;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0 0 20px 0;
  font-weight: bold;
  background: #df622c;
  padding: 20px;
  padding-right: 50px;
  display: inline-block;
  border: none;
  width: 20%;
}
.emoji{
  font-size:25px;
}